
nav.bg-dark{
    -webkit-backdrop-filter: saturate(180%) blur(20px)!important;
    background-color: black!important;
    
}

a.navbar-brand{
    font-weight: 600;
}
.nav-item{
    font-family: 'Lato', sans-serif;
}