
.back{
    background-image: url(assets/img/solar.png);
}

h1{
    font-weight: 400;
    animation-direction: normal;
    text-align: center;
    padding: 80px;
}

h2{
    text-align: center;
}


.apps{
    padding: 15vw;
}



.card-text{
    opacity: 1;
}