
<div class="back">
  <div class="blur">
  <h1>
    Well hello there!
    
  </h1>
  <h2>
    My name is Bartłomiej Tabor. I am a simple dude from Silesia (yeah, that's in Poland). Let's say I'm very artistic in science and very scientific in art. I love making things 
  </h2>

  <h3>
    Important stuff: 
  </h3>


  
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body card-apps">
                <h3>Apps</h3>
                <p class="card-text">Mostly simple stuff that helps me in everyday life. Poké-calculators, techno-themed games and stuff.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body card-music">
                  <h3>Music</h3>
                <p class="card-text">The noises I make. Still don't know if I can call it music. But I can assure you it's listenable and very artsy :d</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class=" card mb-4 box-shadow">
              <div class="card-body card-contact">
                  <h3>Contact</h3>
                <p class="card-text">In case you want to send me card from holidays. I need three lines of text so let's assume you want me to do something.</p>
              </div>
            </div>  
          </div>
        </div>
      </div>
    <h3>
      Short bio.
    </h3>
  
    <p>
      I was born somewhere
    </p>


  </div>
</div>