
<div class="back">
  <div class="blur">
  <h1>
    Well hello there!
    
  </h1>
  <h2>
    My name is Bartlomiej Tabor. I am (who I am). (what my interest are).
  </h2>


  
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-4 box-shadow">
              <div class="card-body card-apps">
                <h3>Apps</h3>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4 box-shadow">
              <div class="card-body card-music">
                  <h3>Music</h3>
                <p class="card-text">The noises I make. Still don't know if I can call it music. But I can assure you it's listenable and very artsy :D</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4 box-shadow">
              <div class="card-body card-contact">
                  <h3>Contact</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
</div>